<nav class="navbar navbar-light bg-transparent">
  <div class="container-fluid">
    <%= link_to 'Wikinimous', articles_path, class: 'primary-text' %>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-secondary' %>
  </div>
</nav>
<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="col-md-6">
    <h1 class="text-center text-muted">Add a new article</h1>
    <%= render 'form', article: @article %>
  </div>
</div>
